<header class=" h-[10vh] flex justify-center items-center">
  <nav class="flex flex-row gap-4">
    <span>
      <a href="#experiencia">Experiencia</a>
    </span>
    <span>
      <a href="#proyectos">Proyectos</a>
    </span>
    <span>
      <a href="#formacion">Formación</a>
    </span>
    <span>
      <a href="#sobreMi">Sobre mí</a>
    </span>
  </nav>
</header>