---
import ButtonLink from "./ButtonLink.astro";
---

<section class="flex flex-col justify-start gap-10 mt-10">
  <h2 class="text-3xl font-medium">Proyectos</h2>
    <article class="relative w-full flex flex-col gap-4 font-normal">
      <h3 class="text-2xl font-normal"><span class="font-bold text-fuchsia-300/70">Spoticlone</span> - Clon funcional de Spotify</h3>
      <p class="text-lg">Clon funcional de Spotify hecho durante las practicas de fin de grado. En el se ha utilizado stack <span class=" text-fuchsia-300/70 font-bold">MERN</span>, junto a librerias como  <span class=" text-fuchsia-300/70 font-bold">JWT, AWS S3, Multer</span>, etc.</p>
      <img src="assets/spoticlone.png" alt="Proyecto Spoticlone" class="rounded-md shadow-2xl shadow-slate-100/10">
      <div class="flex flex-row gap-2">
        <div class="min-w-min w-1/3">
          <ButtonLink link="#" name="Repositorio" />
        </div>
        <div class="min-w-min w-1/3">
          <ButtonLink link="#" name="Ver en internet" />
        </div>
      </div>
    </article>
  </div>
</section>
